<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PyShipment</title>
    <style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Shipment</h1>
            <h3>can be easier than what you think :)</h3>
        </header>
        <nav>
              <ul>
                <li><a href="#">no item!</a></li>
                <li><a href="#">no item!</a></li>
                <li><a href="#">no item!</a></li>
              </ul>
        </nav>
        <article>
            {% block content %}
            {% endblock %}
        </article>



        <footer>Copyright © IUST Students! :)))</footer>

    </div>
</body>
</html>