{%  extends "layout.html" %}


{% block content %}

    <h2>Join Us "NOW"</h2>
    <br>
    <form method="post" action="/signup">
        {{ form.hidden_tag()  }}
<br>
        <div class="form-row">
            {{ form.username.label }}
            <br>
            {{ form.username }}
        </div>
<br>

        <div class="form-row">
            {{ form.email.label }}
            <br>
            {{ form.email }}
        </div>
<br>

         <div class="form-row">
            {{ form.phone_number.label }}
            <br>
             {% if form.phone_number.errors %}
                 {% for error in form.phone_number.errors %}
                     <p class="errors">{{ error }}</p>
                 {% endfor %}
             {% endif %}
             {{ form.phone_number }}
        </div>

<br>
        <div class="form-row">
            {{ form.password.label }}
            <br>
            {{ form.password }}
        </div>
<br>

        <div class="form-row">
            {{ form.repeat_password.label }}
            <br>
            {{ form.repeat_password }}
        </div>

        <br>{{ form.submit(class="btn-primary") }}

    </form>


{% endblock %}