{% extends 'layout.html' %}

{% block content %}
    <div>
        <img src="static/pic1.jpg" style="float: left; margin-right: 10%">
        <div class="align-center" style="padding-top:120px">
            <h1 style="font-family: cursive;" class="centered"> available <br>where ever YOU want<br> all over the country</h1>
        </div>

    </div>
{% endblock %}

{% block side_items %}
<div style="font-family: cursive">
    <ul>
        <li><a href="/author">authors</a></li>
        <li><a href="/signup">Register</a></li>
        <li><a href="/">main page</a></li>
    </ul>
</div>

{% endblock %}